@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
body {
  font-family: 'Noto Sans JP', sans-serif;
}

#container {
  display: inline-block;
  position: relative;
}

.circle-image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.social {
  text-decoration: none !important;
}

.link-after, .nav-link::after, .navbar-brand::after, .nav-item.active::after {
  content: '';
  display: block;
  height: .15em;
  background: hotpink
}

.nav-link::after, .navbar-brand::after {
  width: 0;
  transition: width .35s
}

.nav-link:hover::after, .navbar-brand:hover::after {
  width: 100%
}

.nav-item.active {
  font-weight: bold
}

.nav-item.active::after {
  width: 100% !important
}

.navbar-brand {
  margin-bottom: -14px
}

.navbar-brand::after {
  margin-top: -.25em
}

.navbar-toggler{
  border:none;
}


.fa-sass{
  color: hotpink;
}