@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
body {
  font-family: 'Noto Sans JP', sans-serif;
}

#container {
  display: inline-block;
  position: relative;
}

.circle-image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.social {
  text-decoration: none !important;
}

.link-after, .nav-link::after, .navbar-brand::after, .nav-item.active::after {
  content: '';
  display: block;
  height: .15em;
  background: hotpink
}

.nav-link::after, .navbar-brand::after {
  width: 0;
  transition: width .35s
}

.nav-link:hover::after, .navbar-brand:hover::after {
  width: 100%
}

.nav-item.active {
  font-weight: bold
}

.nav-item.active::after {
  width: 100% !important
}

.navbar-brand {
  margin-bottom: -14px
}

.navbar-brand::after {
  margin-top: -.25em
}

#hamburguer-menu {
  display: none;
}
.ui-hamburger-01 {
  display: inline-block;
  width: 30px;
  height: 26px;
  border: none;
  position: relative;
  background: linear-gradient(to bottom, #2980b9, #2980b9);
  background-size: 100% 20%;
  background-repeat: no-repeat;
  background-position: center center;
  transition: background-size 0.2s 0.25s ease;
  cursor: pointer;
}
.ui-hamburger-01:before,
.ui-hamburger-01:after {
  height: 20%;
  width: 100%;
  position: absolute;
  left: 0;
  background-color: #2980b9;
  content: '';
  transition: transform 0.3s ease;
}
.ui-hamburger-01:before {
  top: 0;
  transform-origin: 9% 150%;
}
.ui-hamburger-01:after {
  bottom: 0;
  transform-origin: 9% -50%;
}
#hamburguer-menu:checked ~ .ui-hamburger-01 {
  background-size: 0 20%;
  transition-delay: 0s;
}
#hamburguer-menu:checked ~ .ui-hamburger-01:before {
  transform: rotate(45deg);
  transition-delay: 0.15s;
}
#hamburguer-menu:checked ~ .ui-hamburger-01::after {
  transform: rotate(-45deg);
  transition-delay: 0.15s;
}

.hamburguer-menu-content {
 visibility: hidden;
 opacity: 0;
  transition: .2s ease-in;
  transform: translateX(-10px);
}

#hamburguer-menu:checked ~ .hamburguer-menu-content {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}

.fa-sass{
  color: hotpink;
}